//colors
$clr-background: #f5f5f5;
$clr-alto: #dddddd;
$clr-dustygray: #999999;
$clr-dovegray: #666666;
$clr-mineshaft: #333333;

$clr-wellsred: #ae1e23;
$clr-wellsblue: #37729c;
$clr-wellsyellow: #fcc60a;